{% extends 'AppBlog/padre.html' %}

{% block titulo %}

Detalle del auto seleccionado

{% endblock %}


{% block texto %}

<p> <b>Marca:</b>  {{autos.marca}}</p>
<p> <b>Modelo:</b>  {{autos.modelo}}</p>
<p> <b>Versión:</b>  {{autos.version}}</p>
<p> <b>Año de fabricación:</b>  {{autos.año_de_fabricacion}}</p>
<p> <b>Motorización:</b>  {{autos.motorizacion}}</p>
<p> <b>Combustible:</b>  {{autos.combustible}}</p>
<p> <b>Descripción:</b>  {{autos.descripcion}}</p>
<img src="{{autos.imagen.url}}" style="max-width: 500px">

<p> <em>Fecha de creación: {{autos.fecha_de_edicion}}</em> </p>


{% endblock %}