{% extends 'AppBlog/padre.html' %}

{% block titulo %}

Búsqueda de autos

{% endblock %}


{% block texto %}

<p> <b>Estamos buscando el auto con la marca: {{marca}}</b>  </p>

{% if not auto %}

No existe en la base de datos la marca: {{marca}}

{% endif %}


{% for a in auto %}
    
<p>Marca: {{a.marca}}</p>
<p>Modelo: {{a.modelo}}</p>
<p>Año de fabricación: {{a.año_fab}}</p>
<p>Descripción: {{a.descripcion}}</p>
<img src="{{a.imagen.url}}" style="max-width: 500px">
    

{% endfor %}

{% endblock %}